{% extends 'base.html' %}

{% block title %}Delete Task{% endblock %}

{% block link %}
        <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
{% endblock %}

{% block menu %}
    <li><a href="{% url "task_view" task.pk %}">View</a> </li>
{% endblock %}
{% block content %}
    <h1 class="text-center">Are you sure to delete {{ task }}?</h1>
    <form method="POST"  class="text-center" action="{% url 'del_marked' %}">
        {% csrf_token %}
        <p><input type="submit" value="Confirm"></p>
        <p><a href="{% url 'task_view' task.pk %}">Cancel</a></p>
    </form>
{% endblock %}