{% extends 'base.html' %}

{% block link %}
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
{% endblock %}

{% block menu %}
    <li><a href="{% url 'task_create' %}">Create task</a></li>
{% endblock %}

{% block content %}
    <h1 class="title">To-do list</h1>
    <div class="row">
        <div class="col colu">
            <h2><b>Description</b></h2>
        </div>
        <div class="col-5 colu">
            <h2><b>Date of completion</b></h2>
        </div>
        <div class="col colu">
            <h2 class="sts"><b>Status</b></h2>
        </div>
    </div>
    {% for task in tasks %}
        <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <input type="checkbox" name="checkbox" value="{{ task.id }}"/>
            <div class="col">
                <p>{{ task.description }}</p>
            </div>
            <div class="col">
                <p class="text">{{ task.date_of_completion }}</p>
            </div>
            <div class="col">
                <p class="status">{{ task.status }}</p>
            </div>
        <p><a href="{% url 'task_view' task.pk %}" class="about">More...</a></p>
        <p><a href="{% url 'update_view' task.pk %}" class="update">Edit</a></p>
        <p><a href="{% url 'delete_view' task.pk %}" class="delete">Delete</a></p>
        </div>
    {% endfor %}
    <p><input class="del btn btn-danger"  type="submit" value="Delete marked"></p>
</form>
{% endblock %}



