{% extends 'base.html' %}

{% block link %}
        <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}
  Edit
{% endblock %}

{% block menu %}
    <li><a href="{% url 'task_view' task.pk %}">View</a></li>
    <li><a href="{% url 'delete_view' task.pk %}">Delete</a></li>
{% endblock %}

{% block content %}
    <h1>Add new task</h1>
    <form action="/task/add/" method="post">
        {% include 'partial/task_form.html' with button_text='Update' %}
    </form>
{% endblock %}
