.body.form{
    font-family: 'Courgette', cursive;
    background-color: lightgrey;
    margin-top: 65px;
}
.navbar {
    display: block;
    background: #6a7dff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 0;
    box-sizing: border-box;
    padding: 7px 30px;
}

.menu {
    font-size: 16px;
    line-height: 1;
    padding: 0;
    margin: 0;
    display: inline-block;
    color: aqua;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 5px 15px;
    font-size: 16px;
}

.menu a:hover {
    color: #ffc122;
    text-decoration: underline;

}
.form{
    font-family: 'Sriracha', cursive;
    background-color: lightgrey;
    margin-top: 65px;
}

.title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 55px;
}

.update{
    margin-left: 28px;
}
.delete{
    margin-left: 28px;
}

h2{
    text-align: center;
    font-size: 15px;
    margin: 0;
}
.colu{
    margin-bottom: 20px;
}
.sts{
    margin-right: 300px;
}
.text{
    text-align: center;
    margin-left: 93px;
}

.status{
    margin-left: 5px;
    text-align: center;
}

.btn-floating{
    float: right;
    margin-right: 40px;
    margin-top: 35px;
    margin-bottom: 40px;
}
.custom-select{
    width: 200px;
    margin-left: 95px;
}

.descrip{
    margin-left: 55px;
}

.specif{
    margin-left: 48px;
    font-size: 14px;
    text-align: left;
}
.textarea{
    white-space: pre-wrap;
}
.btn{
    width: 500px;
    text-align: left;
}
.btn-success{
    width: 500px;
    text-align: center;
    margin-top: 20px;
}
.btn-dark{
    width: 329px;
}
.text-center{
    text-align: center;
}
.form-error {
    color: red;
    font-size: 12px;
    margin: 5px 0 0 0
}

.field-error {
    border: solid 1px red;
    box-shadow: red 0 0 3px;

}
.form-text{
    margin-top: 20px;
}
span{
    color: red;
    font-weight: 600;
}
.del{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    width: 300px;
}
